<h1>Cookies</h1>

<ul id="cookies-list">
  <% @cookies.each do |cookie| %>
    <li><strong><%= cookie.name %></strong>: <span><%= cookie.description %></span></li>
  <% end %>
</ul>

<button id='add-cookie'>Gimme cookie</button>

