<div id='list'></div>

<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
<script src="http://backbonejs.org/backbone-min.js"></script>
<script src="/javascript/templates.js"></script>
<script src="/javascript/models/cookie.js"></script>
<script src="/javascript/collections/cookies.js"></script>
<script src="/javascript/views/ListView.js"></script>
<script src="/javascript/views/ListItemView.js"></script>

<script>
  var cookies = new Cookies();
  cookies.reset(<%= raw(@cookies.to_json) %>);
</script>

<script src="/javascript/app.js"></script>

