<html>
  <head>
    <title>Page</title>
    <link rel='stylesheet' type='text/css' href='/css/styles.css' />
  </head>
  <body>
    <h1>My stock app - This heading has been inserted from layouts file</h1>
    <%= yield %>
  </body>
</html>

